body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #f857a6, #ff5858);
    height: 100%;
    display: flex;
    justify-content: center;
}

h2{
    margin: 0;
    margin-bottom: 6px;
}
p{
    margin: 0;
    margin-bottom: 6px;
}

.appContainer{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #eee;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
    margin-top: 15%;
    flex-wrap: nowrap;
}

input{
    padding: 5px;
    background-color: inherit;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin-bottom: 6px;
}

button{
    background-color: inherit;
    border: none;
}

#complete{
    border: 1px solid #ff69b4;
    background-color: #eee;
    color: #ff69b4;
    border-radius: 6px;
}

.addNew{
    background-color: #ff69b4;
    color: #eee;
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 5px;
}






/* dynamic classes */

.completed{
    text-decoration: line-through;
    color: red;
}